﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CARS API</h1>
    <p class="lead">To check available cars:~/api/carsapi/getavailablecars</p>
    <p>To book a car:~/api/carsapi/bookcar/1</p>
    <p>Run the project in Visual Studio and then use a chrome extension like POSTMAN to post a request</p>
</div>

